# Ignore compiled class files
*.class

# Ignore other files and directories that should not be in version control
# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore build directories
build/
target/
out/

# Ignore IDE-specific files
*.iml
.idea/
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

data/